.cmp-teaser {
    padding: 0 20px;
}
.cmp-teaser__image { max-width: 300px;}
.cmp-teaser__content {}
.cmp-teaser__pretitle {}
.cmp-teaser__title, .cmp-teaser__title a {
    color: $color-accent;
    font-size: 3rem;
    margin: 0;
}
.cmp-teaser__title-link {}
.cmp-teaser__description {
    font-size: 1rem;

    h3 {
        font-size: 1rem;
    }
}
.cmp-teaser__action-container {
    display: flex;
    margin-top: 32px;
}
.cmp-teaser__action-link {
    color: $color-accent;
    border: 3px solid $color-accent;
    padding: 12px 24px;
    font-size: 1.3rem;
    margin-right: 32px;
    &:hover {
        background-color: $color-accent;
        color: white;
    }
}