.cmp-text {
    h3 {
        font-size: 1rem;
        color: $color-alternate;
        margin: 0;
    }
    h1 {
        color: $color-accent;
        font-size: 3rem;
        margin: 0!important;
    }
}
.cmp-text__paragraph {}
.cmp-text__highlight {}