
//== Base

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    background:  $color-background;
}


a {
    color: $color-link;
    text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

.header, .footer {
    background-color: $color-foreground;

    .image {
        max-width: 300px;
    }
    .cmp-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .aem-Grid {
            display: flex;
            flex-direction: row;

            .separator {
                display: none;
            }

            .text {
                margin: 0!important;
                width: 50%!important;
                text-align: right;
            }
            .container {
                width: 50%!important;

                .cmp-image {
                    padding: 0 40px;
                }
            }
        }
    }
}

//== Grid

// Default breakpoint
.aem-Grid {
    @include generate-grid(default, $max_col);
}

// Phone breakpoint
@media (max-width: 768px) {
    .aem-Grid {
        @include generate-grid(phone, $max_col);
    }
}
